#germany {
  padding: 40px 0;

  h1 {
    font-size: 40px;
    color: black;
  }

  .select {
    flex-wrap: wrap;
    //display: flex;
    //align-items: center;
    //justify-content: start;
    //margin: 40px 0 50px -40px;
    select {
      outline: none;
      border: none;
      background: #fdfdfd;
      text-align: center;
      font-size: 17px;

      option {
        border: none;
        outline: none;
        padding: 20px 300px;
      }
    }

    &--options {
      margin: 0 0 0 55px;
    }
  }

  .country {
    &__cards {
      &--card {
        width: 1180px;
        height: 196px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 30px 0;
        -webkit-box-shadow: -3px 6px 42px -3px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: -3px 6px 42px -3px rgba(34, 60, 80, 0.2);
        box-shadow: -3px 6px 42px -3px rgba(34, 60, 80, 0.2);

        img {
          width: 231px;
          height: 161px;
          border-radius: 10px;
          margin-left: -50px;
        }

        &__one1 {
          margin-left: -70px;

          h4 {
            color: #B5B5B5;
            font-size: 20px;
          }

          h3 {
            padding: 10px 0;
            color: #1AA2EE;
            font-size: 28px;
          }
        }

        &__one2 {
          //margin-left: 139px;
          &--icon {
            display: flex;
            align-items: center;
            color: #9D72D6;
          }

          h4 {
            color: #B5B5B5;
            font-size: 20px;
          }

          h3 {
            padding: 10px 0;
            color: #000000;
            font-size: 20px;
          }
        }

        &__one3 {
          //margin-left: 200px;

          h4 {
            color: #B5B5B5;
            font-size: 20px;
          }

          h3 {
            padding: 10px 0;
            color: #000000;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  #country .country__cards {
    width: 1004px;
  }
  #country .country__cards--ones__one2 {
    margin-left: 70px;
  }
  #country .country__cards--ones__one3 {
    margin-left: 131px;
  }
}

@media (max-width: 1024px) {
  #country .country__cards {
    width: 942px;
  }
  #country .country__cards--ones__one3 {
    margin-left: 94px;
  }
}

@media (max-width: 992px) {
  #country .country__cards {
    width: 830px;
  }
  #country .country__cards--ones__one1 h3 {
    font-size: 24px;
  }
  #country .country__cards--ones__one2 {
    margin-left: 29px;
  }
  #country .country__cards--ones__one3 {
    margin-left: 67px;
  }
}

@media (max-width: 768px) {
  #country {
    .container {
      .country {
        &__cards {
          width: 499px;
          margin-left: 76px;

          &--ones {
            margin-left: 46px;
            flex-direction: column;

            &__one3 {
              display: none;
            }

            &__one2 {
              margin-left: -120px;
            }
          }

          &--card {
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #country .select--options {
    margin: 0 0 0 -100px;
  }
  #country .select select {
    text-align: start;
    padding: 10px 0;
    margin-left: 50px;
  }
  #country .country__cards--card {
    width: 471px;
  }
  #country .country__cards--card img {
    width: 163px;
    height: 122px;
    margin-right: 37px;
  }
  #country .country__cards--ones {
    flex-direction: inherit;
    margin-left: -250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #country {
    .container {
      .select {
        margin: 40px 0 50px -316px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
      }

      .country {
        &__cards {
          width: 453px;
          margin-left: 20px;

          &--card {
            img {
              margin-left: 19px;
            }
          }

          &--ones {
            margin-left: -176px;

            &__one1 {
              h3 {
                font-size: 18px;
              }

              h4 {
                font-size: 18px;
              }
            }

            &__one2 {
              margin-left: -89px;

              h4 {
                font-size: 18px;
              }

              h3 {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #country .container .country__cards--card img {
    margin-left: 0;
    width: 274px;
    margin-top: -40px;
  }
  #country {
    .container {
      .select {
        margin: 38px 0 50px -211px;
      }

      .country {
        &__cards {
          &--card {
            width: 270px;
            margin-left: 1px;
            margin-top: -159px;

            img {
              margin-left: 0;
              width: 274px;
            }
          }

          height: 184px;
          width: 389px;

          &--ones {
            flex-direction: column;
            margin-left: -215px;
            margin-top: 157px;

            &__one2 {
              margin-left: -57px;
            }
          }
        }
      }
    }
  }

  #country .container .country__cards {
    height: 320px;
    width: 273px;
  }
}

@media (max-width: 400px) {
  #country {
    .container {

      .select {
        margin: 38px 0 50px -169px;
      }

      .country {
        &__cards {
          &--card {
            img {
              margin-top: -20px;
            }
          }

          &--ones {
            &__one1 {
              h3 {
              }
            }

            &__one2 {
              h3 {
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  #country .container .country__cards--card img {
    margin-left: 0;
    width: 274px;
    margin-top: -40px;
  }
  #germany{
    margin-left: 120px;
  }
  #country .container .select {
    margin: 38px 0 -1px -111px;
  }
  #country h1 {
    margin-left: 14px;
  }
}

@media (max-width: 320px) {
  #country {
    .container {
      .select {
        margin: 38px 0 -1px -67px;
      }

      .country {
        &__cards {
          width: 268px;
          margin-left: 10px;
        }
      }
    }
  }
}